.texturanivel{
  --background:url('/assets/img/fondo-opciones.png')0 0/100% 100% no-repeat;
  }

.map1{
    margin-top: 14px;
    width: 228px;
}
.bt2{
     margin-left: 5px;
     width: 90px;
        
}
  