

<ion-content class="texturanivel" >
  
  
 <ion-button expand="block" [routerLink]="['/actividades']" class="bt2" color="tertiary">
    <ion-icon name="arrow-back-sharp"></ion-icon>

  </ion-button>


<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <img src="assets/img/juegos.png">
    </ion-col>
    
  </ion-row>
</ion-grid>


<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <ion-button class="map1" size="default" expand="block" color="success" [routerLink]="['/primernivel']"   >
        Nivel 1
        <ion-icon name="rocket-sharp" slot="start"></ion-icon>
      </ion-button>
      
    </ion-col>
    </ion-row>
</ion-grid>

<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <ion-button class="map1" size="default" expand="block" color="warning"  [routerLink]="['/segundonivel']"  >
        Nivel 2
        <ion-icon name="rocket-sharp" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <ion-button class="map1" size="default" expand="block" color="danger"  [routerLink]="['/tercernivel']"  >
        Nivel 3
        <ion-icon name="rocket-sharp" slot="start"></ion-icon>
      </ion-button> 
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>