.interfazpantalla{
    --background:url('/assets/img/fondo-1.png') 0 0/100% 100% no-repeat;
}
.btninterfaz{
    margin-top: 12px;
    width: 167px;
  
}
.memoria{
    width: 278px;
    margin-top: 181px;

}
.label{

    font-size: xx-large;
    font-family: 'Roboto';
    color:#130B09;
}