<ion-content class="interfazpantalla">


<ion-grid fixed>
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto"></ion-col>
        
            <img src="assets/img/robot.png" class="memoria"/>
            
        </ion-row>
    </ion-grid>
    
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto"></ion-col>
            
            <ion-label class="label">Gamificación Code</ion-label>
                
        </ion-row>
    </ion-grid>
    
    <ion-grid>
        <ion-row  class="ion-justify-content-center">
            <ion-col size="auto ">
                <ion-button  expand="block"  shape="round" color="danger" [routerLink]="['/plantilla']" class="btninterfaz">
                    Entrar
                </ion-button>

            </ion-col>
          
        </ion-row>
    </ion-grid>

</ion-content>