<ion-content padding  class="textura" >


  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">

        <img  routerLinkActive="router-link-active"  src="assets/img/interfaz-niños.png" class="img1"/>
        
      </ion-col>

    </ion-row>
  </ion-grid>




      <ion-grid >
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">

            <ion-button class="btn_1"  color="success" [routerLink]="['/entrar']"  >
              Login
              <ion-icon name="key-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-col>
         
        </ion-row>
      </ion-grid>
      

      

<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <ion-button class="btn_1"  size="default" color="warning"  [routerLink]="['/registro']"  >
        Registrarse
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid>

<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto"></ion-col>
    
          <ion-button class="btn_2" size="default" expand="block" color="dark">
           SIGUENOS EN: 
          </ion-button>

  </ion-row>
</ion-grid>


<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      
            <div style="display: flex;">
              <ion-fab-button href="https://www.facebook.com/Proyect-Software-100409342647683/?ref=pages_you_manage"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
              <ion-fab-button href="https://www.youtube.com/channel/UCzhSoCKVXLh1ylUEa8BcIrw" color="danger" ><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
              <ion-fab-button href="https://twitter.com/ProyectSoftware" color="secondary"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
              <ion-fab-button href="https://www.instagram.com/proyectsoftware/" color="danger" ><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
            </div>

    </ion-col>
    
  </ion-row>
</ion-grid>

      
      
    </ion-content>
 