.texturanivel{
        --background:url('/assets/img/fondo-1.png')
}

.bt2{
    margin-left: 5px;
    width: 90px;
    
}
.logo{
    color: white;
}
.btn-entrar{
   width:146px;
}
#viewPassword{
    cursor:pointer;
  }