.texturanivel{
    --background:url('/assets/img/fondo-1.png')0 0/100% 100% no-repeat;

}
.map1{
    margin-bottom: 20px;
    bottom: small;
    width: 200px;
    margin-top: 22px;
}
.memoria{
    width: 300px;
    margin: 5px;
    margin-top: 52px;

}.regresar{
    width: 298px;
}
