
 <ion-content padding class="texturanivel">


  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">

        <img src="assets/img/juego-memoria.png" class="memoria"/>
        
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">

        <ion-card-content>
          <ion-card-title style="text-align: center;">
         Jugar 
        </ion-card-title>        
        </ion-card-content>    
      </ion-col>
      
    </ion-row>
  </ion-grid>




<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-button class="map1" expand="block" color="danger"  [routerLink]="['/niveles']"  >
        Juego Memoria
        <ion-icon name="rocket-sharp" slot="start"></ion-icon>
      </ion-button>

    </ion-col>
    
  </ion-row>
</ion-grid>


<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <ion-button class="regresar" expand="block" color="dark"  [routerLink]="['/opciones']"  >
        Regresar 
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>
