.texturanivel{

  --background: url('/assets/img/fondo-1.png');
}
.textura2{
  --background: url('https://i.pinimg.com/564x/f5/52/59/f5525929009035cb0c36120c722fef2b.jpg');
 // width: 211px;
  height: 202px;
 // margin: 30px;
}
.imagennivel1{
  margin-top: 50px;
}

.bt2{
  margin-left: 5px;
  width: 90px;
  
}
.total{
  width: 120px;
  height: 40px;
  background-color: greenyellow;
  font-size: x-large;
  margin-left: 25px;
}
.total1{
  width: 140px;
  height: 40px;
  background-color: greenyellow;
  font-size:larger;
  margin-left: 50px;
}
.btn{

margin-left: 80px;

}
.btn2{
  margin-top: 20px;
}


