.texturaapp{
    --background:url('/assets/img/fondo-opciones.png')0 0/100% 100% no-repeat;
}
.opciones{
    width: 160px;
    height: 70px;
    margin-top: 35px;
    color: black;

    
}
.regreso{
    margin-top: 20px;
    width: 279px;
}
.logo{
    color: black;
    font-family:cursive;
    font-weight: 900;
}
